@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

header {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(../assets/images/bannerHeader.png);
  background-repeat: no-repeat;
  background-size: contain;

  .box-header {
    margin-top: 30px;
    width: 80%;
    height: 10vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);

    nav {
      width: 40%;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      a {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
      }
    }
  }
}

.box-banner {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: end;

  .box-titulo {
    height: 60vh;

    h2 {
      font-size: 2.7rem;
      background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-weight: bold;
      line-height: 45px;
      max-width: 565px;
    }

    p {
      font-size: 1.625rem;
      max-width: 421px;
      margin-top: 16px;
    }

    div {
      margin-top: 37px;
      display: flex;
      gap: 20px;

      button:first-child {
        background-color: #1173d4;
        color: #ffffff;
        padding-inline: 56px;
      }

      button {
        padding: 12px 45px;
        font-size: 0.875rem;
        border: 1px solid #1173d4;
        border-radius: 10px;
        background-color: transparent;
        color: #1173d4;
      }
    }
  }
}

main {
  text-align: center;
  font-size: 1.25rem;

  .box-exames {
    background-color: #f8f9fa;
    width: 100%;
    padding-block: 47px 63px;

    .box-descricao {
      max-width: 70vw;
      margin: 0 auto;

      h2 {
        font-size: 2.7rem;
        background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        margin-bottom: 26px;
      }
    }
  }
}

img {
  max-width: 100%;
  object-fit: contain;
}

.box-prevencoes {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;

  article {
    margin-top: 41px;
    padding: 11px 14px 18px;
    flex: 0 0 280px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  span {
    display: block;
    font-weight: 600;
    margin-block: 27px 18px;
  }

  p {
    font-size: 1.125rem;
  }
}

.box-prevencao-feminina {
  background-color: #fdefef;

  h2 {
    background: linear-gradient(
      to right,
      #f9016f 0%,
      #930885 42%,
      #d038aa 70%,
      #851c87 100%
    );
  }
}

.box-prevencao-masculina {
  background-color: #f8f9fa;

  h2 {
    background: linear-gradient(
      to right,
      #3373d2 16%,
      #6f95c7 33%,
      #7bb5f5 55%,
      #0074ee 69%,
      #5ea7ef 87%
    );
  }
}

.box-prevencao-feminina,
.box-prevencao-masculina {
  padding-block: 40px 60px;

  h2 {
    font-size: 2.7rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 54px;
  }

  .box-exames-femininos,
  .box-exames-masculino {
    max-width: 80vw;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 42px;
  }

  article {
    flex: 0 0 280px;
    height: 400px;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    span {
      display: block;
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 45px;
    }

    li {
      text-align: left;
      font-size: 0.875rem;
      line-height: 20px;
      margin: 0 8px 6px 8px;
    }
  }
}

.box-alertas-importantes {
  max-width: 80vw;
  margin-inline: auto;
  padding-block: 40px 60px;

  h2 {
    font-size: 2.7rem;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 54px;
  }

  .titulo-alerta {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 6px;

    h3 {
      font-size: 1.25rem;
      line-height: 45px;
    }
  }
}

.box-alertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  gap: 25px;

  article {
    flex: 0 0 420px;
    padding: 10px 16px 20px;
    border-radius: 10px;

    &:nth-of-type(1) {
      background-color: #f9d5e5;
      color: #ad346a;
    }

    &:nth-of-type(2) {
      background-color: #cfe2f3;
      color: #2769a3;
    }

    &:nth-of-type(3) {
      background-color: #d4edda;
      color: #244a2d;
    }

    &:nth-of-type(4) {
      background-color: #ffe9c2;
      color: #976c00;
    }
  }
}
