@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}


/******************/
/***** HEADER *****/
/******************/
header {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/images/bannerHeader.png);
  background-repeat: no-repeat;
  background-size: 100%;

  .box-header {
    margin: 30px auto 0;
    width: 80%;
    height: 10vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);

    nav {
      width: 40%;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 10px;

      a {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
      }
    }
  }
}

.box-banner {
  width: 80vw;
  display: flex;
  margin: 86px auto 100px;

  .box-titulo {
    h2 {
      font-size: 2.7rem;
      background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-weight: bold;
      line-height: 45px;
      max-width: 550px;
    }

    p {
      font-size: 1.625rem;
      max-width: 421px;
      margin-top: 16px;
    }

    div {
      margin-top: 40px;
      display: flex;
      gap: 20px;

      button {
        padding: 12px 45px;
        font-size: 0.875rem;
        border: 1px solid #1173d4;
        border-radius: 10px;
        background-color: transparent;
        color: #1173d4;
        cursor: pointer;
        transition: .2s ease-in;

        &:hover {
          background-color: #1173d4;
          color: #ffffff;
        }

        &:first-child {
          background-color: #1173d4;
          color: #ffffff;
          padding-inline: 56px;
        }

        &:first-child:hover {
          background-color: #0b4b8b;
        }
      }
    }
  }
}

/***********************************/
/**** RESPONSIVIDADE DO HEADER *****/
/***********************************/
@media (max-width: 840px) {
  header {
    background: none;
  }
}

@media (max-width: 576px) {
  header {
    .box-header {
      margin-top: 22px;
      width: 90%;
      height: 6vh;

      img {
        width: 87px;
        object-fit: contain;
      }

      nav {
        width: 60%;
      }

      a {
        font-size: 0.875rem;
      }
    }
  }

  .box-banner {
    width: 90vw;
    margin-block: 64px;

    .box-titulo {
      text-align: center;

      p {
        margin-top: 0;
      }

      div {
        justify-content: center;

        button {
          padding: 16px 12px;
          &:first-child {
            padding-inline: 6px;
          }
        }
      }
    }
  }
}

/****************/
/***** MAIN *****/
/****************/
main {
  text-align: center;
  font-size: 1.25rem;

  .box-exames {
    background-color: #f8f9fa;
    width: 100%;
    padding-block: 47px 63px;

    .box-descricao {
      max-width: 70vw;
      margin: 0 auto;

      h2 {
        font-size: 2.7rem;
        background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        margin-bottom: 26px;
      }
    }
  }
}

img {
  max-width: 100%;
  object-fit: contain;
}

.box-prevencoes {
  max-width: 80vw;
  margin: 41px auto 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 48px;

  article {
    padding: 11px 14px 18px;
    flex: 0 0 280px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  span {
    display: block;
    font-weight: 600;
    margin-block: 27px 18px;
  }

  p {
    font-size: 1.125rem;
  }
}

.box-prevencao-feminina {
  background-color: #fdefef;

  h2 {
    background: linear-gradient(
      to right,
      #f9016f 0%,
      #930885 42%,
      #d038aa 70%,
      #851c87 100%
    );
  }
}

.box-prevencao-masculina {
  background-color: #f8f9fa;

  h2 {
    background: linear-gradient(
      to right,
      #3373d2 16%,
      #6f95c7 33%,
      #7bb5f5 55%,
      #0074ee 69%,
      #5ea7ef 87%
    );
  }
}

.box-prevencao-feminina,
.box-prevencao-masculina {
  padding-block: 40px 60px;

  h2 {
    font-size: 2.7rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 54px;
  }

  .box-exames-femininos,
  .box-exames-masculino {
    max-width: 80vw;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
  }

  article {
    flex: 0 0 280px;
    height: 400px;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    span {
      display: block;
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 45px;
    }

    li {
      text-align: left;
      font-size: 0.875rem;
      line-height: 20px;
      margin: 0 8px 6px 8px;
    }
  }
}

.box-alertas-importantes {
  max-width: 80vw;
  margin-inline: auto;
  padding-block: 40px 60px;

  h2 {
    font-size: 2.7rem;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 54px;
  }

  .titulo-alerta {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 6px;

    h3 {
      font-size: 1.25rem;
      line-height: 45px;
    }
  }
}

.box-alertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  gap: 20px;

  article {
    flex: 0 0 420px;
    padding: 10px 16px 20px;
    border-radius: 10px;

    &:nth-of-type(1) {
      background-color: #f9d5e5;
      color: #ad346a;
    }

    &:nth-of-type(2) {
      background-color: #cfe2f3;
      color: #2769a3;
    }

    &:nth-of-type(3) {
      background-color: #d4edda;
      color: #244a2d;
    }

    &:nth-of-type(4) {
      background-color: #ffe9c2;
      color: #976c00;
    }
  }
}

/***********************************/
/***** RESPONSIVIDADE DO MAIN ******/
/***********************************/
@media (max-width: 576px) {
  main {
    .box-exames {
      .box-descricao {
        max-width: 88vw;

        h2 {
          font-size: 1.5rem;
          line-height: 25px;
        }

        p {
          font-size: 0.9375rem;
        }
      }
    }
  }

  .box-prevencao-feminina,
  .box-prevencao-masculina {
    h2 {
      font-size: 2rem;
    }
  }

  .box-alertas-importantes {
    h2 {
      font-size: 1.5rem;
    }

    .box-alertas {
      article {
        flex-basis: 350px;
      }
    }
  }
}

/******************/
/***** FOOTER *****/
/******************/
footer {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #313461;
  color: #fefefe;
  width: 100%;

  span {
    display: block;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 24px;

    q {
      display: block;
      font-size: 1rem;
      margin-top: 24px;
    }
  }

  li {
    list-style: none;
    margin-bottom: 8px;
  }

  a {
    color: #fefefe;
  }

  .copy {
    border-top: 1px solid #9fabbc;
    padding: 40px 30px;
    text-align: center;
  }
}

.box-rodape {
  width: 80%;
  margin-inline: auto;
  padding-block: 70px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  div {
    flex: 1 1 250px;
  }

  p {
    margin-top: 20px;
    max-width: 292px;
  }
}

/***********************************/
/**** RESPONSIVIDADE DO FOOTER *****/
/***********************************/
@media (max-width: 576px) {
  footer {
    text-align: center;
  }  
}